:root {
  --brand-gradient: linear-gradient(180deg, #470f8d 0%, #5340cc 101.23%);

  --peach-gradient: linear-gradient(180deg, #fec7b2 0%, #df7d57 100%);
  /* --primary-peach: #fec7b2; */

  --yellow-gradient: linear-gradient(180deg, #fce588 0%, #f0b429 100%);

  /* --primary-peach: #fce588; */

  --primary-peach-opacity-50: hsl(17, 97%, 85%, 50%);
  /* --primary-peach: #ffff9e; */

  --text-black: #1f1f31;
  --primary-blue: #4230b9;

  --heading-black: #353546;

  --subheading-black: #4c4c5a;

  --primary-link: #25168b;
  --primary-link-dark: hsl(238, 86%, 86%);

  --white-opacity-80: rgb(255, 255, 255, 0.8);

  --shadow-large: 0px 16px 24px rgba(0, 0, 0, 0.25);

  --shadow-small: 0 8px 12px 0 rgba(0, 0, 0, 0.25);

  --yellow: #ffff9e;

  font-size: 19px;
}

body {
  /* 'Libre Franklin',  */
  font-family: 'DM Sans', -apple-system, system-ui, BlinkMacSystemFont, Roboto,
    'Helvetica Neue', sans-serif;
  font-size: 19px;
}

/* ::selection {
  color: var(--text-black);
  background: rgb(255, 255, 158);
} */

h1,
h2,
h3,
h4,
h5,
h6 {
  /* 'Libre Franklin',  */
  font-family: 'Libre Franklin', 'DM Sans', -apple-system, system-ui,
    BlinkMacSystemFont, Roboto, 'Helvetica Neue', sans-serif;
  line-height: 1.2;
}

a:any-link {
  /* color: #36364f; */
  color: var(--primary-link);
  text-decoration: underline;
  letter-spacing: -0.4px;
}

p {
  line-height: 1.6;
}

@media screen and (min-width: 960px) {
  .quote-item {
    width: 40vw;
  }

  .quote-item:nth-child(even) {
    margin-left: -80px;
    margin-top: 80px;
    z-index: 1;
  }

  .quote-item:nth-child(odd) {
    margin-left: 16px;
  }

  .quote-item {
    padding: 32px 48px;
  }
}

@media screen and (max-width: 959px) {
  .quote-item {
    padding: 32px 16px;
    margin: 32px 0px;
  }
}

.block-quote-callout {
  font-family: Georgia, Baskerville, sans-serif;
  font-size: 64px;
  line-height: 24px;
}

.block-quote-close {
  font-family: Georgia, Baskerville, sans-serif;
}

.quote-container > * > blockquote p:first-child {
  text-indent: -2ch;
}

.quote-container > * > footer {
  text-indent: 0ch;
}

.quote-item {
  border: 1px solid #d8d8db;
  background-color: white;

  border-radius: 8px;
}

.quote-item:nth-child(odd) {
  background-color: var(--primary-peach-opacity-50);
  /* background-color: var(--primary-peach); */
}

.large-paragraph-text {
  font-size: 22px;

  letter-spacing: -0.4px;
}

.quote-name--style {
  font-size: 1.4rem;
  font-weight: 500;
}

.quote-item {
  height: fit-content;
}

/* .full-bleed {
  width: 100vw;
  margin-left: 50%;
  transform: translateX(-50%);
  padding: 0px 2rem;
}
 */
@media (prefers-color-scheme: light) {
  html {
    background-color: #fff;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: var(--heading-black);
  }
  body {
    color: var(--text-black);
  }
  h1 {
    color: var(--primary-blue);
  }
}

@media (prefers-color-scheme: dark) {
  html {
    background-color: #102a43;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: #bcccdc;
  }
  body {
    color: #f0f4f8;
  }

  h1 {
    color: #bcccdc;
  }

  a:any-link {
    /* color: var(--primary-link-dark); */
    color: #2cb1bc;
  }

  .quote-item {
    background-color: #353546;
  }
}
