:root {
  --brand-gradient: linear-gradient(180deg, #470f8d 0%, #5340cc 101.23%);

  --peach-gradient: linear-gradient(180deg, #fec7b2 0%, #df7d57 100%);

  /* ORIGINAL COLOURS */
  --primary-peach: #fec7b2;
  --peach-light: #fec7b2;
  --peach-med: #df7d57;

  --primary-peach: #eef1ff;

  --peach-light: #eef1ff;
  --peach-med: #3c56e7;

  --horiz-spacer: #eef1ff;
  --horiz-spacer: #5a566e;
  --horiz-spacer: #e1dfe9;

  --blue-white-100: #eef1ff;

  --dm-white-text: #f0f4f8;

  --yellow-gradient: linear-gradient(180deg, #fce588 0%, #f0b429 100%);

  --primary-peach-opacity-50: hsl(17, 97%, 85%, 50%);
  --primary-peach-opacity-50: #eef1ff;

  --text-black: #1f1f31;
  --primary-blue: hsl(248, 59%, 76%);
  --primary-blue: #4230b9;

  --heading-black: #353546;

  --subheading-black: #4c4c5a;

  --grey-400: #9f9fa8;

  --link-low-emphasis-bluegrey: #36364f;

  --primary-link: #25168b;

  --primary-link-dark: #2cb1bc;

  --white-opacity-80: rgb(255, 255, 255, 0.8);

  --card-background-white: #f8f9fa;

  --shadow-large: 0px 16px 24px rgba(0, 0, 0, 0.25);
  --shadow-medium: 0 8px 12px 0 rgba(0, 0, 0, 0.25);
  --shadow-small: 0 4px 8px 0 rgba(0, 0, 0, 0.25);
  --shadow-extra-small: 0 2px 4px 0 rgba(0, 0, 0, 0.25);

  --yellow: #ffff9e;

  --white-100: #ffffff;

  font-size: 20px;
  line-height: 1.5;

  --size-16: 16px;
  --size-20: 20px;
  --size-24: 24px;
  --size-28: 28px;
  --size-32: 32px;
  --size-40: 40px;
  --size-48: 48px;
  --size-56: 56px;
  --size-64: 64px;
  --size-72: 72px;
}

body {
  font-family: 'DM Sans', -apple-system, system-ui, BlinkMacSystemFont, Roboto,
    'Helvetica Neue', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Libre Franklin', 'DM Sans', -apple-system, system-ui,
    BlinkMacSystemFont, Roboto, 'Helvetica Neue', sans-serif;
  line-height: 1.2;
}

h1 {
  font-size: var(--size-40);
}

label {
  font-weight: 500;
}

input,
select,
textarea {
  padding: 8px;
}

input,
select,
textarea {
  border-radius: 4px;
  border: 1px solid var(--grey-400);
  box-shadow: inset var(--shadow-extra-small);
}

textarea {
  resize: vertical;
  width: 100%;
}

label {
  display: flex;
  flex-direction: column;
}

a:any-link {
  /* color: #36364f; */
  color: var(--primary-link);
  text-decoration: underline;
  letter-spacing: -0.4px;
}

@media screen and (min-width: 960px) {
  .quote-item {
    width: 40vw;
  }

  .quote-item:nth-child(even) {
    margin-left: -80px;
    margin-top: 80px;
    /* z-index: 1; */
  }

  .quote-item:nth-child(odd) {
    margin-left: 16px;
  }

  .quote-item {
    padding: 32px 48px;
  }
}

@media screen and (max-width: 960px) {
  .quote-item {
    padding: 32px 16px;
    margin: 32px 0px;
  }
}

.block-quote-callout {
  font-family: Georgia, Baskerville, sans-serif;
  font-size: var(--size-64);
  /* Rem value to shrink line-height to arrange layout */
  line-height: 1.2rem;
}

.block-quote-close {
  font-family: Georgia, Baskerville, sans-serif;
}

.quote-container > * > blockquote p:first-child {
  text-indent: -2ch;
}

.quote-container > * > footer {
  text-indent: 0ch;
}

.quote-item {
  border: 1px solid var(--grey-400);
  background-color: var(--card-background-white);

  border-radius: 8px;
}

.quote-item:nth-child(odd) {
  background-color: var(--primary-peach-opacity-50);
}

.large-paragraph-text {
  letter-spacing: -0.4px;
}

.quote-name--style {
  font-size: var(--size-24);
  font-weight: 700;
}

.quote-item {
  height: fit-content;
  height: -moz-max-content;
}

.quote-item:nth-child(odd) {
  max-height: fit-content;
  height: -moz-max-content;
  height: 50%;
  border: solid 1px black;
  overflow: auto;
}

@media (prefers-color-scheme: light) {
  html {
    background-color: #fff;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: var(--heading-black);
  }
  body {
    color: var(--text-black);
  }
  h1 {
    color: var(--primary-blue);
  }
}

@media (prefers-color-scheme: dark) {
  html {
    background-color: #102a43;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: var(--blue-white-100);
  }
  body {
    color: #f0f4f8;
  }

  h1 {
    color: var(--blue-white-100);
  }

  a:any-link {
    /* color: var(--primary-link-dark); */
    color: #2cb1bc;
  }

  .quote-item {
    background-color: #353546;
    background-color: #181820;
  }
}

.full-bleed {
  width: 100vw;
  margin-left: 50%;
  transform: translateX(-50%);
}

.date--style {
  color: var(--subheading-black);
  text-transform: uppercase;
  font-weight: 500;
  font-size: var(--size-16);
}

button,
.base-button--style {
  background-color: var(--primary-blue);
  padding: 8px 32px;
  border-radius: 4px;
  color: var(--white-100);
  cursor: pointer;
  box-shadow: var(--shadow-small);
  font-weight: bold;
}

hr {
  border: 0px;
  border-top: solid var(--primary-peach) 4px;
  border-top: solid 4px var(--horiz-spacer);
  width: 32%;
  margin: 48px 0px;
  grid-column: 1 / -1;
}

@media (prefers-color-scheme: light) {
}

@media (prefers-color-scheme: dark) {
  .quote-item:nth-child(odd) {
    color: var(--dm-white-100);
    background-color: #102a43;
  }

  .figcaption--layout > span {
    color: var(--heading-black);
  }

  figure {
    background: #4c4c5a;
  }
}
