:root {
  --primary-brand-500: linear-gradient(180deg, #470f8d 0%, #5340cc 101.23%);

  --primary-peach: #fec7b2;
  --peach-gradient: linear-gradient(180deg, #fec7b2 0%, #df7d57 100%);
}

body {
  font-family: 'DM Sans', -apple-system, system-ui, BlinkMacSystemFont, Roboto,
    'Helvetica Neue', sans-serif;
  font-size: 18px;
  color: #1f1f31;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Libre Franklin', 'DM Sans', -apple-system, system-ui,
    BlinkMacSystemFont, Roboto, 'Helvetica Neue', sans-serif;
}

a:any-link {
  /* color: #36364f; */
  color: #25168b;
  text-decoration: underline;
  letter-spacing: -0.4px;
}

p {
  line-height: 1.6;
}
